html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-color: #222;
}

h1 {
  color: #FFFF00;
  font-size: 50px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  margin-top: 20px;
  border: 1px solid #FFFF00;
  padding: 5px 20px;
  letter-spacing: 0.095em;
}

p {
  color: #00F5E8;
  font-size: 27px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 10px;
  letter-spacing: 0.112em;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 17px;
  margin-bottom: 10px;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.board div {
  color: #FFFF00;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #FFFF00 dotted;
  border-radius: 10%;
  background-color: transparent;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: transparent;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") #00F5E8;
}

div.hidden {
  background: #FFFF00;
}

div.hidden:hover {
  background: #FFFFA5;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") #FFE119;
}

button {
  padding: 10px 35px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #FFFF00;
  background: #222;
}

button:hover {
  background: #333;
}

button span {
  font-size: 22px;
  color: #FFFF00;
  letter-spacing: 0.112em;
}